.card-item {
    width: 282px;
    background-color: $white;
    border-radius: 10px;

    &__image {
        min-height: 282px;
        min-width: 100%;
        height: 282px;
        background-color: #73b7fb;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__description {
        min-height: 79px;
        padding: 25px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        color: $black;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
    }

    &__like-btn {
        width: 22px;
        height: 19px;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        background: url("../assets/svg/like-icon.svg") no-repeat;
        cursor: pointer;

        &:hover,
        &:focus-visible {
            opacity: 0.5;
        }

        &:active,
        &.is-active {
            background: url("../assets/svg/like-icon-active.svg") no-repeat;
        }
    }
}
