.main {
    &__container {
        padding-inline: 20px;
    }

    &__profile {
        margin-block: 38px 36px;
    }

    &__card-list {
        margin-bottom: 24px;
    }

    &__login-form-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__login-form {
        width: 100%;
        max-width: 360px;
        text-align: center;
    }

    &__login-form-link {
        color: $white;

        &:hover,
        &:focus,
        &:active {
            opacity: 0.6;
        }
    }
}

@media screen and (min-width: $desktop-width) {
    .main {
        &__container {
            max-width: 880px;
            margin-inline: auto;
            padding-inline: 0;
        }

        &__profile {
            margin-block: 40px 50px;
        }

        &__card-list {
            margin-bottom: 30px;
        }
    }
}
