.modal {
    background-color: rgba($black, 0.5);

    &__container {
        padding-inline: 20px;
    }

    &__form {
        padding: 25px 20px;
        color: $black;
        background-color: $white;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }

    &__edit-profile {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        border: none;
    }

    &__form-title {
        margin-inline: auto;
        margin-bottom: 75px;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
    }

    &__form-input {
        min-height: 27px;
        border: none;
        border-bottom: 1px solid rgba($black, 0.2);

        &:not(:first-of-type) {
            margin-top: 30px;
        }
    }

    &__form-submit-btn {
        width: 100%;
        min-height: 46px;
        margin-top: 45px;
        padding-block: 14px;
        border: none;
        outline: none;
        color: $white;
        background-color: $black;
        border-radius: 2px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        &:hover,
        &:focus,
        &:active {
            opacity: 0.8;
        }
    }
}

@media screen and (min-width: $desktop-width) {
    // .main {
    //     &__container {
    //         max-width: 880px;
    //         margin-inline: auto;
    //         padding-inline: 0;
    //     }

    //     &__profile {
    //         margin-block: 40px 50px;
    //     }

    //     &__card-list {
    //         margin-bottom: 30px;
    //     }
    // }
}
