// Global

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

.page-body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $white;
    background-color: $black;
}
